@if(isLoggin){
    <header class="flex justify-between items-center text-white px-4 py-4
    bg-gradient-to-b from-spider-red/60 to-venom-black">
        <div class="flex justify-around gap-7 text-lg">
            <a class=" hover:from-electric-yellow  hover:to-spider-red 
            text-header-left"
            >Mis Avisos</a>
            <a class="hover:from-spider-red hover:via-blue-800 hover:to-venom-black/40 
            text-header-left"
            >Spidermans</a>
            <a class=" hover:from-green-800 hover:bg-smoke-gray 
            text-header-left"
            >Villanos</a>
        </div>
        <a class="profile-image">
            <img class="rounded-full w-full h-full object-cover"
            src="assets/images/profile/spiderman.webp"
            alt="Spiderman Avatar"/>
        </a>
    </header>
} @else {
    <header class="flex justify-between items-center text-white px-4 py-4
    bg-gradient-to-b from-spider-red/60 to-venom-black">
        <div class="flex justify-around gap-7 text-xl">
            <a class="hover:from-electric-yellow  hover:to-spider-red 
            text-header-left"
            >Mis Avisos</a>
            <a class="hover:from-spider-red hover:via-blue-800 hover:to-venom-black/40 
            text-header-left"
            >Spidermans</a>
            <a class="hover:from-green-800 hover:bg-smoke-gray 
            text-header-left"
            >Villanos</a>
        </div>
        <div class="flex items-center text-lg">
            <a class="mr-4 text-header-left hover:text-white"
            >Iniciar Sesión</a>
            <a class="text-header-left hover:text-white"
            >Registrarse</a>
        </div>
    </header>
}

