<!--<header class="bg-white/30 text-white backdrop-blur-2xl 
backdrop-saturate-150 border border-white/10 rounded-md shadow-sm 
flex justify-between items-center drop-shadow-2xl pl-4 pr-2 py-4">
-->
<header class="flex justify-between items-center text-white pl-4 pr-2 py-4
bg-gradient-to-r from-spider-red/60 to-venom-black">
    <div class="flex justify-around gap-7 text-lg">
        <a class=" hover:from-electric-yellow  hover:to-spider-red 
        hover-text-header"
        >Mis Avisos</a>
        <a class="hover:from-spider-red hover:to-venom-black/40 
        hover-text-header"
        >Spidermans</a>
        <a class=" hover:from-venom-black hover:to-spider-red 
        hover-text-header"
        >Villanos</a>
    </div>
    <span class="rounded-full bg-white cursor-pointer p-0.5 size-16">
        <img class="rounded-full w-full h-full object-cover"
            src="assets/images/profile/spiderman.webp"
            alt="Spiderman Avatar"/>
    </span>
</header>